In [32]:
import os
import pandas as pd
import pandas_profiling
import plotly.express as px

In [33]:
pollution_file = 'pollution.csv'

In [34]:
pollution_df = pd.read_csv(pollution_file)

In [35]:
pollution_df.head()

,facility_name,doc_ctrl_num,reporting_year,chemical_name,release_estimate_amount,carcinogen_chem_ind,clean_air_act_chem_ind,chem_ind_3350,street_address,city,county,county_code,state,zip,region,total_release
0,CCI MANUFACTURING IL CORP,1.305203e+12,2005,ETHYLENE GLYCOL,3930.00,N,Y,N,15550 CANAL BANK RD,LEMONT,COOK,17031,IL,60439,5,3930.00
1,GE MATHIS CO,1.305203e+12,2005,CHROMIUM,0.00,N,Y,Y,6100 S OAK PARK AVE,CHICAGO,COOK,17031,IL,60638,5,0.00
2,ARMACELL LLC,1.305203e+12,2005,DECABROMODIPHENYL OXIDE,0.00,N,N,N,16800 S CANAL ST,SOUTH HOLLAND,COOK,17031,IL,60473,5,0.00
3,WEC CO,1.305203e+12,2005,COPPER,0.99,N,N,N,2606 RT 2 S,OREGON,OGLE,17141,IL,61061,5,0.99
4,MICKEY TRUCK BODIES INC,1.305203e+12,2005,"SULFURIC ACID (1994 AND AFTER ""ACID AEROSOLS"" ...",10.00,N,N,N,14661 OLD COLONIAL RD,BLOOMINGTON,MCLEAN,17113,IL,61704,5,10.00

In [36]:
# report = pollution_df.profile_report(title='Pandas Profiling Report')
# report.to_file(output_file='output.html')

# Grouped by Facility

In [57]:
facility_grouped = pollution_df.groupby(by='facility_name')

In [58]:
facility_grouped = facility_grouped.sum().dropna(how='any')

In [61]:
facility_grouped = facility_grouped.sort_values(by = ['total_release'], ascending = False)

In [65]:
facility_grouped_gtz = facility_grouped.loc[facility_grouped['total_release'] > 0]

In [67]:
facility_grouped_gtz= facility_grouped_gtz[['total_release']]

In [70]:
facility_grouped_gtz.head()

                                       total_release
facility_name
VISCOFAN USA INC                        4.964263e+07
ADM DECATUR COMPLEX                     4.070228e+07
EAST DUBUQUE NITROGEN FERTILIZERS LLC   1.293660e+07
COFFEEN POWER STATION                   1.200710e+07
EQUISTAR CHEMICALS LP                   1.151807e+07

# Grouped  by Chemical

In [71]:
chemical_grouped = pollution_df.groupby(by = 'chemical_name')

In [73]:
chemical_grouped = chemical_grouped.sum().dropna(how='any')

In [74]:
chemical_grouped = chemical_grouped.sort_values(by = ['total_release'], ascending = False)

In [75]:
chemical_grouped_gtz = chemical_grouped.loc[chemical_grouped['total_release'] > 0]

In [76]:
chemical_grouped_gtz = chemical_grouped_gtz[['total_release']]

In [77]:
chemical_grouped_gtz.head()

                                                    total_release
chemical_name
N-HEXANE                                             6.381494e+07
HYDROCHLORIC ACID (1995 AND AFTER "ACID AEROSOL...   5.650679e+07
CARBON DISULFIDE                                     4.712430e+07
SULFURIC ACID (1994 AND AFTER "ACID AEROSOLS" O...   4.474626e+07
AMMONIA                                              3.964724e+07

# Grouped by Year

In [78]:
year_grouped = pollution_df.groupby(by = 'reporting_year')

In [79]:
year_grouped = year_grouped.sum().dropna(how='any')

In [80]:
year_grouped = year_grouped.sort_values(by = ['total_release'], ascending = False)

In [81]:
year_grouped_gtz = year_grouped.loc[year_grouped['total_release'] > 0]

In [82]:
year_grouped_gtz = year_grouped_gtz[['total_release']]

In [85]:
year_grouped_gtz.head()

                total_release
reporting_year
2005             5.136447e+07
2007             4.076043e+07
2006             4.075339e+07
2008             3.653911e+07
2010             2.974595e+07

# Grouped by Carcinogen

In [86]:
carc_grouped = pollution_df.groupby(by = 'carcinogen_chem_ind')

In [87]:
carc_grouped = carc_grouped.sum().dropna(how= 'any')

In [88]:
carc_grouped = carc_grouped.sort_values(by = ['total_release'], ascending = False)

In [89]:
carc_grouped_gtz = carc_grouped.loc[carc_grouped['total_release'] > 0]

In [90]:
carc_grouped_gtz = carc_grouped_gtz[['total_release']]

In [91]:
carc_grouped_gtz.head()

                     total_release
carcinogen_chem_ind
N                     4.047224e+08
Y                     3.691201e+07

# Grouped by Clean Air

In [92]:
clean_air_grouped = pollution_df.groupby(by = 'clean_air_act_chem_ind')

In [93]:
clean_air_grouped = clean_air_grouped.sum().dropna(how='any')

In [94]:
clean_air_grouped = clean_air_grouped.sort_values(by = ['total_release'], ascending = False)

In [95]:
clean_air_grouped_gtz = clean_air_grouped.loc[clean_air_grouped['total_release'] > 0]

In [96]:
clean_air_grouped_gtz = clean_air_grouped_gtz[['total_release']]

In [97]:
clean_air_grouped_gtz.head()

                        total_release
clean_air_act_chem_ind
Y                        3.074592e+08
N                        1.341751e+08

# Grouped by 3350 Chemical

In [98]:
chem_3350_grouped = pollution_df.groupby(by ='chem_ind_3350')

In [99]:
chem_3350_grouped = chem_3350_grouped.sum().dropna(how = 'any')

In [100]:
chem_3350_grouped = chem_3350_grouped.sort_values(by = ['total_release'], ascending = False)

In [102]:
chem_3350_grouped_gtz = chem_3350_grouped.loc[chem_3350_grouped['total_release'] > 0]

In [104]:
chem_3350_grouped_gtz = chem_3350_grouped_gtz[['total_release']]

In [105]:
chem_3350_grouped_gtz.head()

               total_release
chem_ind_3350
N               4.210238e+08
Y               2.061057e+07

# Grouped by County

In [106]:
county_grouped = pollution_df.groupby(by = 'county')

In [107]:
county_grouped = county_grouped.sum().dropna(how='any')

In [108]:
county_grouped = county_grouped.sort_values(by = ['total_release'], ascending = False)

In [109]:
county_grouped_gtz = county_grouped.loc[county_grouped['total_release'] > 0]

In [110]:
county_grouped_gtz = county_grouped_gtz[['total_release']]

In [111]:
county_grouped_gtz.head()

           total_release
county
VERMILION   5.695303e+07
MACON       4.703455e+07
COOK        4.632753e+07
WILL        3.134114e+07
MADISON     1.825411e+07